@import "grid-vars";

._container {
  display: flex;
  justify-content: center;
  margin-top: 108px;
}

._fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

._fcb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._fcx {
  display: flex;
  align-items: center;
}
